/* Styles */

:root{
    --bs-celeste: #0081c8;
    --bs-morado: #250d36;
}

.bg-header{
    background: url(../img/FONDO.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    /* sin fixed talves se vea mejor */
    background-attachment: fixed;
}


.cursor{
    cursor: pointer;
}
.bg-speed{
    
    
    background:var(--bs-morado) ;
   
}
.bg-speeds{
    background:var(--bs-morado) ;
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}
.overloa{
    position: absolute;
        z-index: 10;
        left: 100px;
}


.btn-outline-celeste {
    color: #0081c8;
    border: 2px solid #0081c8 !important;
  }
  .btn-outline-celeste:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .bg-infografia{

    background: url(../img/FONDO.jpg);
    background-size: cover;
        background-position: center;
      
        height: 150px;
        width: 100%;
        margin-top: 25px;
        padding-top: 15px;

  }
  .planes {
    transition: all .3s ease-in-out;
}

.planes:hover {
    transform: scale(1.05);
    cursor: pointer;
}